.account {
	> main {
		margin: 40px 0;

		h1 {
			font-size: 30px;
			font-weight: 700;
			line-height: .8;
			letter-spacing: 2px;
			text-transform: uppercase;
			margin-bottom: 40px;
		}
	
		form {
			margin-bottom: 40px;
	
			fieldset {
				width: 50%;
				float: left;
	
				@media screen and (max-width:$mobile) {
					width: 100%;
				}
	
				label {
					font-size: 14px;
					margin-bottom: 7px;
				}
	
				input {
					width: 90%;
					height: 40px;
					border: 1px solid #dcdcdc;
					margin-bottom: 15px;
					text-indent: 5px;
	
					@media screen and (max-width:$mobile) {
						width: 100%;
					}
				}
			}
	
			input[type="submit"] {
				width: 170px;
				height: 60px;
				float: right;
				background-color: $finalizar;
				color: white;
				font-size: 18px;
				font-weight: bold;
	
				@media screen and (min-width:$mobile) {
					margin-right: 63px;
				}
			}

			input[readonly="readonly"] {
				background-color: #f3f3f3;
			}
		}
	}

	.vtex-account__page {
		header {
			.vtex-pageHeader__container {
				padding-bottom: 0;
			}
		}
	}
}