#cart-lateral {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    right: -100%;
    z-index: 5;
    transition: all 300ms;
    background-color: #fff;

    &.active {
        @media screen and (min-width:$mobile) {
            right: 0;
        }
    }

    @media screen and (max-width:$mobile) {
        width: 100%;
        top: auto;
        right: 0;
        transition: bottom 300ms;
        z-index: 10;

        &.hidden {
            z-index: 1;
        }

        &.active {
            bottom: 0;
            
            .header {
                .title {
                    &:before {
                        position:relative;
                        top:-7px;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
    
    @media screen and (max-width:$mobile) {
        bottom:calc(-100% - -80px);
    }

    .columns {
        position: relative;
        height: 100%;

        .column_1 {
            .header {
                margin: 0 10px;
        
                .title {
                    letter-spacing: 1.5px;
                    padding-top: 5px;
        
                    .ico_close {
                        color: red;
                        float: right;
                        font-weight: bold;
                        cursor: pointer;
                    }
        
                    @media screen and (max-width:$mobile) {
                        &:before {
                            content: '';
                            width: 10px;
                            height: 10px;
                            border-right: 1px solid gray;
                            border-bottom: 1px solid gray;
                            transform: rotate(225deg);
                            transition: all 300ms;
                            display: none;
                            margin: 0 auto;
                        }
                    }
                }
                
                ul.dis-flex {
                    @media screen and (min-width:$mobile) {
                        border-bottom: 1px solid #dcdcdc;
                    }
                    
                    li {
                        &:first-child {
                            border-right: 1px solid black;
                        }
        
                        @media screen and (max-width:$mobile) {
                            display: block;
                        }
                    }
                }
        
                & + .btn-finalizar {
                    @media screen and (max-width:$iphone5) {
                        display: none;
                    }
                }
            }
        }
    
        .column_2 {
            .content {
                margin: 10px 10px 0;
        
                @media screen and (max-width:$mobile) {
                    overflow-x: hidden;
                    overflow-y: scroll;
                }
        
                @media screen and (min-width:$iphone5) and (max-width:$mobile) {
                    height: 240px;
                }
            
                @media screen and (max-width:$iphone5) {
                    height: 188px;
                }
        
                ul {
                    li {
                        background-color: #f1f1f1;
                        padding: 5px;
                        margin-bottom: 10px;
        
                        .image {
                            width: 25%;
        
                            @media screen and (max-width:$mobile) {
                                width: 15%;
                            }
        
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
        
                        .text {
                            width: 75%;
                            padding-left: 5px;
        
                            @media screen and (max-width:$mobile) {
                                width: 85%;
                            }
                        }
        
                        .ft {
                            width: 100%;
                            
                            .btn {
                                width: 10px;
                                height: 10px;
                                float: right;
                                margin-top: -14px;
                                cursor: pointer;
                                background-image: url(/arquivos/small-arrow.png);
                                background-repeat: no-repeat;
                                background-position: center;
                                transition: transform 300ms;
                                transform: rotate(180deg);
        
                                &.active {
                                    transform: rotate(0deg);
                                }
                            }
                            
                            ul {
                                border-top: 1px solid #dcdcdc;
                                padding-top: 5px;
                                margin-top: 5px;
                                display: none;
        
                                li {
                                    width: 50%;
                                    padding: 0;
                                    margin: 0;
                                    display: inline-block;
        
                                    p {
                                        line-height: 30px;
                                    }
                
                                    .box-count {
                                        .count {
                                            width: 16px;
                                            height: 16px;
                                            display: inline-block;
                                            background: #626262;
                                            text-align: center;
                                            font-weight: bold;
                                            font-size: 16px;
                                            color: white;
                                            line-height: 15px;
                                            border-radius: 6px;
                                            margin-top: 6px;
                                        }
                
                                        input[type="text"] {
                                            width: 50px;
                                            height: 27px;
                                            margin: 0 10px;
                                            text-indent: 8px;
                                            border: 1px solid #dcdcdc;
                                            border-radius: 5px;
                                            transition:border 300ms;
                
                                            &.active {
                                                border: 1px solid red;
                                            }
                                        }
                                    }
        
                                }
                            }
                        }
        
                        .removeUni {    
                            color: red;
                            font-size: 13px;
                            position: absolute;
                            right: 5px;
                            top: 5px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    
        .column_3 {
            width: 100%;
            position: absolute;
            bottom: 0;
            background-color: #fff;

            .frete {
                background-color: #dcdcdc;
                padding: 0 10px;
        
                @media screen and (max-width:$mobile) {
                    display: none;
                }
        
                .title {
                    letter-spacing: 1.5px;
                }
        
                form {
                    input[type="text"] {
                        width: 80%;
                        height: 26px;
                        border: 1px solid gray;
                        text-indent: 10px;
                        transition: border 300ms;
        
                        &.active {
                            border: 1px solid red;
                        }
                    }
        
                    input[type="submit"] {
                        width: 20%;
                        height: 26px;
                        background-color: black;
                    }
                }
            }
        
            .footer {
                margin: 0 20px;
        
                ul {
                    margin: 10px 0;
                    border-bottom: 1px solid #dcdcdc;
        
                    li {
                        margin-bottom: 10px;
        
                        &:nth-child(2) {
                            @media screen and (max-width:$mobile) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }


    .btn-finalizar {
        width: 100%;
        height: 40px;
        line-height: 40px;
        display: block;
        background-color: $finalizar;
    }
}