.departamento {
	.menu-lateral {
		#btn-filtros {
			display: none;
		}

		@media screen and (max-width:$mobile) {
			background-color: #fafafa;
			position: fixed;
			left: 0;
			bottom: 0;
			z-index: 2;
			width: 100%;
			max-height: 75%;
			padding: 0;
			transition: bottom 300ms;

			#btn-filtros {
				width: 100%;
				height: 50px;
				line-height: 50px;
				font-size: 16px;
				text-align: center;
				text-transform: uppercase;
				color: white;
				background-color: black;
				display: block;
			}

			.content {
				display: none;
				overflow-x: hidden !important;
				overflow-y: scroll !important;
			}
		}
	}

	#tags {
		background-color: #fafafa;
		padding: 10px 10px 0 10px;

		li {
			width: auto;
			display: inline-block;
			padding: 3px 25px 3px 3px;
			margin-right: 8px;
			margin-bottom: 8px;
			cursor: pointer;
			background-color:black;
			color: white;
			background-image: url(/arquivos/ico-close.png);
			background-repeat: no-repeat;
			background-position: 87%;
		}
	}

	.navigation-tabs {
		.menu-navegue {
			display: none;
		}

		.search-multiple-navigator {
			display: block !important;
			background-color: #fafafa;
			padding: 10px;

			h3,
			h4,
			.bt-refinar {
				display: none;
			}

			fieldset {
				padding: 15px 0;
				border-top: 1px solid gray;

				h5 {
					font-size: 16px;
					text-transform: uppercase;
					margin-bottom: 20px;
					position: relative;
					cursor: pointer;

					&.active {
						&:after {
							top: 3px;
							transform: rotate(45deg);
						}
					}

					&:after {
						border-right: 1px solid gray;
						border-bottom: 1px solid gray;
						content: "";
						display: block;
						width: 7px;
						height: 7px;
						position: absolute;
						top: 7px;
						right: 0;
						transition: all 300ms;
						transform: rotate(225deg);
					}
				}

				div {
					label {
						margin-bottom: 15px;
						font-size: 13px;

						&.disabled {
							display: none;
						}

						input {
							float: left;
							margin-right: 10px;

							&:checked {
								&:after {
									background-color: #44a3ac;
								}
							}

							&:after {
								content: '';
								cursor: pointer;
								width: 13px;
								height: 13px;
								border-radius: 3px;
								border: 1.3px solid #dcdcdc;
								background-color: white;
								display: inline-block;
							}
						}
					}
				}
			}
		}

		.search-single-navigator {
			display: none !important;
		}
	}

	.btn-load-more {
		clear: both;
		padding: 10px;
		text-align: center;
		cursor: pointer;
		font-size: 15px;
		text-transform: uppercase;
		border: 1px solid #dcdcdc;
		max-width: 200px;
		margin: 30px auto;
	}

	.main {

		.searchResultsTime,
		.sub,
		.pager {
			display: none;
		}

		.prateleira {
			padding: 0 !important;

			ul {
				li {
					width: calc(100% / 3);
					height: 420px;
					margin: 0;

					@media screen and (max-width:$mobile) {
						width: calc(100% / 2);
						height: auto;
					}

					article {
						height: 380px;
					}
				}
			}
		}
	}
}