.erro  {
    &.servidor,
    &.pg-n-encontrada {
        .box-1 {
            display: block!important;
        }
    }

    &.buscavazia {
        .text {
            p {
                font-size: 20px;
            }
        }

        .box-2 {
            display: flex!important;
        }
    }
    
    main {
        padding: 40px 0;

        .text {
            text-align:center;

            img {
                @media screen and (max-width:$mobile) {
                    width:100%;
                }
            }

            p {
                font-size: 30px;
                font-weight: bold;
                text-transform: uppercase;
                color: #585858;
                margin: 30px auto 0;
            
                @media screen and (max-width:$mobile) {
                    max-width:100%;
                }
            }
        }

        .buttons {
            margin-top: 40px;

            .box-1 {
                display: none;
                text-align: center;

                a {
                    width: 210px;
                    height: 50px;
                    line-height: 50px;
                    font-size: 18px;
                    text-transform: uppercase;
                    display: inline-block;
                    text-align: center;
                    font-size: 17px;
                    border: 2px solid #636363;
    
                    @media screen and (max-width:$mobile) {
                        width: 100%;
                        height: auto;
                        margin-bottom: 10px;
                    }
    
                    &:first-child {
                        color: #636363;
                        margin-right: 35px;
                    }
    
                    &:last-child {
                        background-color: #636363;
                        color: white;
                    }
                }
    
            }

            .box-2 {
                display: none;
                justify-content: center;

                input {
                    width: 430px;
                    height: 50px;
                    border: 1px solid #dcdcdc;
                    border-radius: 2px;
                    text-indent: 15px;
                }

                button {
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    background-color: #585858;
                    background-image: url(/arquivos/ico-lupa-white.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    font-size: 0;
                }
            }
        }
    }
}