footer {
	.ft-title {
		& + ul {
			li {
				margin-bottom: 8px;
			}
		}
	}

	.box-newsletter {
		background-image: url(/arquivos/bg-newsletter.jpg);
		background-repeat: no-repeat;
		height: 113px;

		@media screen and (max-width:$mobile) {
			height: auto;
			background-color: #eeeeee;
			padding: 10px 0;
		}

		.newsletter {
			width: 80%;
			float: right;
			padding-top: 5px;

			@media screen and (max-width:$mobile) {
				width: 100%;
			}

			h3 {
				font-weight: 400;
				text-align: center;
				text-transform: uppercase;
				font-size: 22px;
				letter-spacing: 2px;

				&:before {
					width: 24px;
					height: 24px;
					content: '';
					display: inline-block;
					background-image: url(/arquivos/ico-email.png);
					background-repeat: no-repeat;
					margin-right: 10px;
				}
			}

			fieldset {
				p {
					text-align: center;
					margin-bottom: 10px;
					font-weight: 300;				
				}

				#newsletterClientEmail,
				#newsletterClientName {
					width: 40%;
					height: 40px;
					border-radius: 3px;
					color: gray;
					text-indent: 10px;
					float: left;
					margin-right: 2%;
					border-radius: 3px;

					@media screen and (max-width:$mobile) {
						width: 100%;
						margin: 0 0 10px 0;
					}
				}
	
				#newsletterButtonOK {
					width: 16%;
					height: 40px;
					background-color:#3bcf6c;
					color: #fff;
					font-weight: bold;
					font-size: 16px;
					border-radius: 3px;
					text-transform: uppercase;
					cursor: pointer;

					@media screen and (max-width:$mobile) {
						width: 120px;
						float: right;
					}
				}
			}
		}
	}

	.atendimento,
	.pagamento {
		@media screen and (max-width:$mobile) {
			margin: 40px 0;
		}
	}

	.bandeiras {
		li {
			width: 80px;
			height: 45px;
			display: inline-block;
			padding: 2px;
			margin-right: 10px;
			background-color: white;

			svg {
				width:100%;
				height:100%;
			}
		}
	}

	.border {
		padding: 25px 0;
		border-top: 1px solid #dcdcdc;
		border-bottom: 1px solid #dcdcdc;
	}

	.copyright {
		p {
			max-width: 40%;
			margin: 0 auto;

			@media screen and (max-width:$mobile) {
				max-width: 100%;
			}
		}
	}
}

#return_top {
	width: 45px;
    height: 45px;
    display: block;
    position: fixed;
    right: 10%;
    bottom: 15px;
    background: black;
	border-radius: 50px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 300ms;

	@media screen and (max-width:$mobile) {
		right: 15px;
		bottom: 90px;
	}

	span {
		width: 15px;
		height: 15px;
		border-right: 1px solid white;
		border-bottom: 1px solid white;
		display: block;
		margin: 0 auto -11px;
		transform: rotate(225deg);
	}

	&.active {
		opacity: 1;
		visibility: visible;
	}
}