header {
	position: relative;
	padding: 5px 0;
	
	@media screen and (max-width:$mobile) {
		z-index: 6;
	}

	#cart {
		display: block;
		width: 35px;
		height: 23px;

		@media screen and (max-width:$mobile) {
			margin-top: 28px;
		}

		span {
			width: 17px;
			height: 17px;
			background-color: #f0c27c;
			color: #fff;
			display: block;
			border-radius: 50px;
			position: absolute;
			top: -6px;
			right: 0;
			line-height: 17px;
			text-align: center;
			font-size: 14px;
		}
	}

	.hamburger {
		@media screen and (max-width:$mobile){
			display: block; 

			div {
				width: 40px;
				height: 40px;
				padding-top: 22px;

				span {
					width: 100%;
					height: 3px;
					background-color: #fff;
					display: block;

					&:nth-child(2) {
						margin: 10px 0;
					}
				}
			}
		}
	}

	.logo {
		svg {
			* {
				fill: #fff;
			}
		}

		@media screen and (max-width:$mobile) {
			max-width: 66.666667%;
			flex: 0 0 66.666667%;
			text-align: center;
		}
	}

	.menu {
		@media screen and (max-width:$mobile) {
			position: fixed;
			top: 0;
			left: -100%;
			height: 100%;
			z-index: 1;
			padding: 0;
			transition: all 300ms;

			&.active {
				left: 0;
			}
		}

		a {
			text-decoration: none;
		} 

		& > ul {
			display: flex;

			@media screen and (min-width:$mobile) {
				height: 100%;
				justify-content: space-between;
				align-items: center;
			}
			
			@media screen and (max-width:$mobile) {
				flex-direction: column;
				color: white;
				background-color: black;
				padding-top: 15px;
				padding-left: 30px;
				width: 80%;
				height: 100%;
				float: left;
			}
			
			& > li {
				position: relative;
				padding-bottom: 10px;
				
				@media screen and (max-width:$mobile) {
					padding-bottom: 0;
				}
				
				@media screen and (min-width:$mobile) {
					&:after {
						content: '|';
						position: relative;
						right: -24px;
						color: white;
					}
				}
				
				&:nth-last-child(-n+2) {
					&:after {
						display: none;
					}
				}
				
				@media screen and (min-width:$mobile) {
					&:hover {
						div {
							display: block;
						}

						span {
							border-bottom: 1px solid white;
						}
					}
				}

				&.login {
					display: none;

					@media screen and (max-width:$mobile) {
						display: block;

						a {
							width: 100%;
							display: flex;
							align-items: center;
							padding: 10px 0;
							
							svg {
								margin-left: 30px;
								margin-right: 10px;
							}
						}
					}
				}
				
				span {
					color: white;
					font-size: 16px;
					font-weight: 400;

					i {
						display: none;
					}

					@media screen and (max-width:$mobile){
						display: flex;
						height: 50px;
						line-height: 50px;
						
						a {
							width: 80%;
							display: block;
						}
						
						i {
							width: 20%;
							display: flex;
							align-items: center;
							justify-content: center;

							&.active {
								&:after {
									transform: rotate(225deg);
								}
							}

							&:after {
								content: '';
								display: block;
								width: 10px;
								height: 10px;
								border-right: 1px solid white;
								border-bottom: 1px solid white;
								transform: rotate(45deg);
								transition: all 300ms;
							}
						}
					}
				}

				div {
					width: 150px;
					position: absolute;
					top: 33px;
					background: white;
					color: black;
					border-top: 2px solid #c3cbcd;
					box-shadow: 0px 0px 3px 1px #666;
					padding: 10px;
					z-index: 1;

					@media screen and (max-width:$mobile) {
						position: static;
						width: 100%;
						background-color: black;
						color: white;
						border: none;
						box-shadow: none;
					}

					&:before {
						@media screen and (min-width:$mobile) {
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 6px 6px 6px;
							border-color: transparent transparent #c3cbcd transparent;
							content: '';
							position: absolute;
							top: -8px;
						}
					}

					ul {
						li  {
							margin-bottom: 10px;
							padding-bottom: 0;
							border-bottom: 1px solid #dcdcdc;
							padding-bottom: 10px;

							@media screen and (max-width:$mobile) {
								border-bottom: 0;
							}

							&:hover {
								a {
									font-weight: bold;
								}
							}

							&:last-child {
								border-bottom: 0;
								padding-bottom: 0;
								margin-bottom: 0;
							}

							&:after {display: none;}
						}
					}
				}
			}
		}

		button {
			display: none;

			@media screen and (max-width:$mobile) {
				width: 20%;
				float: right;
				height: 80px;
				font-size: 28px;
				display: inline-block;
				background-color: white;
			}
		}
	}

	.icones {
		ul {
			@media screen and (min-width:$mobile) {
				height: 100%;
				align-items: center;
			}
		}

		@media screen and (max-width:$mobile) {
			ul {
				justify-content: flex-end;

				li {
					display: none;
	
					&:last-child {
						display: block;
					}
				}
			}
		}
	}
}

#busca {
	background-color: #ededed;
	width: 100%;
	height: 55px;
	z-index: 5;
	opacity: 0;
	transition: visibility 0s .2s, opacity .2s linear;

	@media screen and (max-width:$mobile) {
		opacity: 1;
		visibility: visible;
		position: static;
		box-shadow: 9px 0px 5px 2px #dcdcdc;
	}

	&.active {
		visibility: visible;
		opacity: 1;
		transition: opacity .2s linear;
	}

	.close-busca {
		position: absolute;
		right: 0;
		top: 20px;

		@media screen and (max-width:$mobile) {
			display: none;
		}
	}

	.busca {
		legend,
		label,
		select {
			display: none;
		}

		.fulltext-search-box.ui-autocomplete-input {
			width: 90%;
			height: 55px;
			background-color: transparent;
			float: left;
			font-size: 14px;
			font-weight: 400;
			font-family: $font-principal;
			text-transform: uppercase;
		}

		.btn-buscar {
			width: 10%;
			height: 55px;
			float: left;
			background-image: url(/arquivos/ico-lupa.png);
			background-position: center;
			background-color: transparent;
			background-repeat: no-repeat;
			font-size: 0;
			cursor: pointer;
		}
	}
}