.home {
    opacity: 0;
    transition: opacity 300ms;

	.fullbanner {
        &.desktop {
            .slick-list {
                position: relative;
                left: 50%;
                margin-left: -960px;
            }
        }

        &.mobile {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .three_banner {
        ul {
            @media screen and (min-width:$mobile) {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }

            li {
                width: 33.3%;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                    margin-bottom: 15px;
                }
            }
        }
    }

    .tipbar {
        ul {
            padding: 10px 5px;
            border-bottom: 1px solid #dcdcdc;
            color: #686868;

            li {
                p {
                    display: flex;
                    align-items: center;

                    i {
                        margin-right: 7px;
                        
                        svg {
                            width: 25px;
                            height: 25px;
                            fill:$cor-texto;
                        }
                    }
                }
            }

            @media screen and (max-width:$mobile) {
                flex-direction: column;

                li {
                    width: 100%;
                    text-align: center;

                    p {
                        font-size: 12px;
                        justify-content: center;
                    }
                }
            }
        }
    }

    .three_banner,
    .fullbanner-2 {
        img {
            width: 100%;
            height: auto;
        }
    }

    .fullbanner-2 {
        margin-bottom: 40px;
        
        * {
            @media screen and (max-width:$mobile) {
                padding: 0;
            }
        }
    }

    .prateleira_01,
    .prateleira_02 {
        margin-top: 40px;

        h2 {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
}