.institucional {
  main {
    margin-top: 25px;
  }
  
  h1 {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: .8;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h2 {
    margin: 20px 0;
  }

  @media screen and (max-width: 769px) {
    h1 {
      font-size: 15px;
      text-align: center;
    }
  }

  .page-institucional {
    margin-bottom: 20px;
    
    @media screen and (min-width:$mobile) {
      margin-top: 30px;
    }
  }

  .page-institucional .box-texto .titulo-institucional {
    color: #585858;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 769px) {
    .page-institucional .box-texto .titulo-institucional {
      margin-top: 20px;
      margin-bottom: 25px;
    }
  }

  .page-institucional .box-texto .titulo-institucional .descricao-titulo {
    text-transform: uppercase;
    font-size: 12px;
  }

  @media screen and (max-width: 769px) {
    .page-institucional .box-texto .titulo-institucional .descricao-titulo {
      font-size: 10px;
    }
  }

  .page-institucional .box-texto .texto-principal.texto-corrido p {
    color: #4f4f4f;
    font-size: 14px;
    margin-bottom: 7px;
    text-align: justify;
  }

  .page-institucional .box-texto .texto-principal .perguntas-frequentes {
    margin-bottom: 5px;
  }

  .page-institucional .box-texto .texto-principal .perguntas-frequentes .faq-checkbox {
    display: none;
  }

  .page-institucional .box-texto .texto-principal .perguntas-frequentes .open {
    padding: 10px 15px;
  }

  @media screen and (max-width: 769px) {
    .page-institucional .box-texto .texto-principal .perguntas-frequentes .open {
      padding: 5px 0px;
    }
  }

  .page-institucional .box-texto .texto-principal .perguntas-frequentes .unica-pergunta {
    border-bottom: 2px solid #ebebeb;
  }

  @media screen and (max-width: 769px) {
    .page-institucional .box-texto .texto-principal .perguntas-frequentes .unica-pergunta {
      margin-bottom: 10px;
    }
  }

  .page-institucional .box-texto .texto-principal .perguntas-frequentes .unica-pergunta label {
    margin-bottom: 15px;
  }

  .page-institucional .box-texto .texto-principal .perguntas-frequentes .unica-pergunta .seta-bottom {
    width: 11px;
    height: 7px;
    display: inline-block;
    background-size: 11px 7px;
    background-image: url("/arquivos/arrow-down.png");
    cursor: pointer;
  }

  .page-institucional .box-texto .texto-principal .perguntas-frequentes .unica-pergunta .pergunta {
    color: #4f4f4f;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
    font-family: "Lato", sans-serif;
  }

  .page-institucional .box-texto .texto-principal .perguntas-frequentes .unica-resposta {
    display: none;
    padding: 0px 0px 0px 10px;
    border-left: 5px solid #bfbfbf;
    margin-left: 25px;
    margin-top: 15px;
    font-size: 16px;
  }

  .page-institucional .box-texto .texto-principal .perguntas-frequentes .unica-resposta p {
    color: #4f4f4f;
    line-height: 1;
  }

  .page-institucional .box-texto .texto-principal .perguntas-frequentes input[type=checkbox]:checked+.open div.unica-pergunta {
    border-bottom: none;
  }

  .page-institucional .box-texto .texto-principal .perguntas-frequentes input[type=checkbox]:checked+.open div.unica-pergunta .pergunta {
    font-size: 16px;
    color: #000;
  }

  .page-institucional .box-texto .texto-principal .perguntas-frequentes input[type=checkbox]:checked+.open div.unica-resposta {
    display: block;
    font-size: 16px;
  }

  .page-institucional .box-texto .texto-principal .perguntas-frequentes input[type=checkbox]:checked+.open div.unica-pergunta .seta-bottom {
    background-image: url("/arquivos/arrow-top.png");
  }

  .page-institucional .box-texto .texto-principal .perguntas-frequentes input[type=checkbox]:checked+.open {
    background: #fbfbfb;
    margin-bottom: 25px;
  }

  .page-institucional .box-contato {
    padding: 20px;
    -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    border: 1px solid #e1e1e1;
    font-family: 'Open Sans', sans-serif;
  }

  @media screen and (max-width: 769px) {
    .page-institucional .box-contato {
      box-shadow: none;
      margin-top: 30px;
    }
  }

  .page-institucional .box-contato .box-titulo-contato h3 {
    color: #242424;
    font-size: 25px;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
  }

  .page-institucional .box-contato .contato {
    padding-left: 50px;
    border-bottom: 1px solid #ededed;
    padding-bottom: 25px;
  }

  .page-institucional .box-contato .contato::before {
    content: '';
    display: block;
    width: 25px;
    height: 43px;
    background-image: url("/arquivos/icone-celular-institucional.png");
    position: absolute;
    margin-left: -50px;
  }

  .page-institucional .box-contato .contato .titulo-contato,
  .page-institucional .box-contato .contato .telefone {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 17px;
  }

  .page-institucional .box-contato .contato .telefone {
    margin-bottom: 33px;
  }

  .page-institucional .box-contato .contato .hr-atendimento {
    font-size: 14px;
    display: block;
    width: 200px;
  }

  .page-institucional .box-contato .email-contato {
    padding-left: 50px;
    padding-top: 25px;
    margin-bottom: 30px;
  }

  .page-institucional .box-contato .email-contato::before {
    content: '';
    display: block;
    width: 36px;
    height: 26px;
    position: absolute;
    margin-left: -50px;
    background-image: url("/arquivos/icone-email-institucional.png");
  }

  .page-institucional .box-contato .email-contato .titulo-contato,
  .page-institucional .box-contato .email-contato .email {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
  }

  .page-institucional .box-contato .email-contato .email {
    text-transform: initial;
  }

  .page-institucional .box-contato .link-formulario-contato {
    display: block;
    background: #2b292a;
    height: 60px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    border-radius: 5px;
    text-align: left;
  }

  .page-institucional .box-contato .link-formulario-contato .align {
    margin: 0px auto;
    width: 240px;
    padding-top: 13px;
  }

  .page-institucional .box-contato .link-formulario-contato .icone-enviar {
    width: 39px;
    height: 29px;
    display: block;
    float: left;
    margin-right: 10px;
    background-image: url("/arquivos/icone-paper-plane-institucional.png");
    background-size: 39px 29px;
  }

  .page-institucional .box-contato .link-formulario-contato .texto {
    display: block;
    width: 240px;
    font-size: 14px;
    line-height: 1.2;
  }

  .page-institucional .box-contato .link-formulario-contato:hover {
    text-decoration: none;
  }

  .accordion {
    cursor: pointer;
    margin: 0px;
    width: 100%;
    font-size: 15px;
    border-bottom: 1px solid #DCDCDC;

    &.active {
      background-color: #F5F5F5;
      border: none;

      span {
        transform: rotate(225deg);
        top: 6px;
      }
    }

    h5 {
      display: flex;
      padding: 15px 0 15px 15px;
      font-weight: 300;

      span {
        width: 8px;
        height: 8px;
        top: 2px;
        position: relative;
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
        transform: rotate(45deg);
        margin-right: 10px;
        transition: transform 300ms;
      }
    }

    .conteudo {
      padding: 20px 40px;
      display: none;
  
      p {
        padding-left: 10px;
        margin-bottom: 10px;
        position: relative;

        &:after {
          content: '';
          display: inline-block;
          background-color: gray;
          position: absolute;
          top: 0;
          left: 0;
          width: 2px;
          height: 100%;
        }
      }
    }
  }

  #contact {
    background-color: white;
    position: fixed;
    z-index: 5;
    width: 700px;
    height: auto;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -350px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms;

    @media screen and (max-width: $mobile) {
      width: calc(100% - 30px);
      top: 10%;
      left: 15px;
      margin-left: 0;
      margin-top: 0;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      display: block;
    }

    .message {
      width: 100%;
      padding: 20px 0;

      h2 {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
      }

      p {
        text-align: center;
      }
    }

    span {
      float: right;
      margin-top: -30px;
      color: white;
      font-weight: bold;
      cursor: pointer;
      margin-right: -10px;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      @media screen and (max-width: $mobile) {
        flex-direction: column;
      }

      p {
        padding-left: 10px;
        margin-bottom: 10px;
      }

      fieldset {
        width: 50%;
        padding: 10px;

        @media screen and (max-width: $mobile) {
          width: 100%;
        }

        select {
          margin-bottom: 0;
        }

        select,
        input[type="email"],
        input[type="text"],
        input[type="number"] {
          width: 100%;
          height: 35px;
          border: 1px solid #dcdcdc;
          text-indent: 10px;
          margin-bottom: 10px;
          border-radius: 3px;
        }

        textarea {
          width: 100%;
          height: 125px;
          margin-bottom: 10px;
          border: 1px solid #dcdcdc;
          border-radius: 3px;
          -webkit-appearance: none;
          resize: none;
          text-indent: 10px;
        }

        input[type="submit"] {
          width: 100px;
          height: 35px;
          font-weight: bold;
          text-transform: uppercase;
          float: right;
          background-color: black;
          color: #fff;
          border-radius: 3px;
        }
      }
    }
  }
}