.login {
    .validate_password {
        display: flex;
        align-items: center;
        
        &.active  {
            &:before {
                opacity: 1;
            }
        }

        &:before {
            content: '';
            display: block;
            border-right: 1.5px solid #33a95d;
            border-bottom: 1.5px solid #33a95d;
            width: 6px;
            height: 10px;
            transform: rotate(42deg);
            margin-right: 10px;
            transition: opacity 300ms;
            opacity: 0;
        }
    }
    
    #cart-lateral {
        display: none !important;
    }

    section {
        display: flex;

        @media screen and (max-width:$mobile) {
            flex-direction: column;
            padding: 40px 0;
        }

        input[type="text"],
        input[type="password"],
        input[type="number"] {
            font-size: 18px;
        }
        

        .column {
            &.column-1 {
                width: 38%;
                margin-right: 2%;

                @media screen and (max-width:$mobile) {
                    display: none;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }

            &.column-2 {
                width: 55%;
                padding-top: 10%;
                transition: padding 300ms;

                @media screen and (max-width:$mobile) {
                    width: 100%;
                    padding: 0 15px;
                }

                .form_1 {
                    ul {
                        display: flex;

                        @media screen and (max-width:$mobile) {
                            flex-direction: column;
                        }

                        li {
                            width: 50%;

                            @media screen and (max-width:$mobile) {
                                width: 100%;
                                margin-bottom: 60px;
                            }

                            form {
                                fieldset {
                                    width: 90%;

                                    @media screen and (max-width:$mobile) {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }

                .form_2 {
                    display: none;

                    & > p {
                        margin-bottom: 15px;
                    }
                }

                .form_3 {
                    display: none;

                    h3 {
                        font-size: 27px;
                        margin-bottom: 10px;
                    }

                    .choice_person {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-evenly;

                        li {
                            &:hover {
                                span {
                                    box-shadow: 0px 0px 30px 15px #dcdcdc;
                                }
                            }

                            &:nth-child(1) {
                                @media screen and (max-width:$mobile) {
                                    margin-bottom: 60px;
                                }
                            }

                            a {
                                text-decoration: none;

                                span {
                                    width: 400px;
                                    height: 400px;
                                    border: 1px solid #dcdcdc;
                                    transition: all 300ms;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    @media screen and (max-width:$mobile) {
                                        width: 350px;
                                        height: 350px;
                                    }
                                }

                                p {
                                    display: block;
                                    font-weight: 400;
                                    color: black;
                                    text-align: center;
                                    text-transform: uppercase;
                                    font-style: italic;
                                    padding-top: 25px;
                                }
                            }
                        }
                    }
                }

                h1,
                h2 {
                    font-size: 27px;
                    font-weight: bold;
                    margin-bottom: 40px;
                }

                form {
                    @media screen and (min-width:$mobile) {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .go_back {
                        margin-top: 24px;
                        display: inline-block;
                    }

                    &#login {
                        p {
                            text-align: right;
                            margin-top: -5px;
                            margin-bottom: 10px;
                        }
                    }

                    &#change_password,
                    &#forgot_password {
                        display: none;
                    }

                    &#change_password {
                        div.message {
                            font-size: 13px;
                            font-weight: 300;
                            width: 50%;
                            float: left;

                            ul {
                                flex-direction: column;

                                li {
                                    width: 100%;
                                }
                            }

                            p {
                                font-weight: bold;
                                margin-bottom: 8px;
                            }
                        }
                    }

                    &.form_new_user {
                        input[type="text"],
                        input[type="email"],
                        input[type="number"] {
                            width: 90%;

                            @media screen and (max-width:$mobile) {
                                width: 100%;
                            }
                        }

                        input[type="submit"] {
                            @media screen and (min-width:$mobile) {
                                margin-right: 46px;
                            }
                        }

                        fieldset {
                            &:nth-child(2) {
                                @media screen and (min-width:$mobile) {
                                    padding-top: 47px;
                                }
                            }
                        }
                    }

                    &#form_new_password {
                        width: 50%;
                        padding-right: 15px;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                            padding-right: 0;
                        }

                        fieldset {
                            width: 100%;

                            div {
                                width: 50%;

                                &:nth-child(1) {
                                    float: left;
                                }

                                &:nth-child(2) {
                                    float: right;
                                }

                                &.message {
                                    font-size: 13px;
                                    font-weight: 300;

                                    p {
                                        font-weight: bold;
                                        margin-bottom: 8px;
                                    }
                                }
                            }
                        }
                    }

                    fieldset {
                        width: 50%;
                        display: inline-block;

                        @media screen and (max-width:$mobile) {
                            width: 100%;
                        }
                    }

                    label {
                        font-size: 14px;
                        margin-bottom: 7px;
                    }

                    input {
                        width: 100%;
                        height: 40px;
                        border: 1px solid #dcdcdc;
                        margin-bottom: 15px;
                        text-indent: 5px;
                    }

                    input[type="submit"] {
                        width: 170px;
                        height: 60px;
                        float: right;
                        background-color: $finalizar;
                        color: white;
                        font-size: 18px;
                        font-weight: bold;
                    }

                    input[readonly="readonly"] {
                        background-color: #f3f3f3;
                    }
                }
            }
        }
    }
}