.prateleira {
	@media screen and (min-width:$mobile) {
		padding: 0 20px;
	}

	@media screen and (max-width: $mobile) {
		margin-top: 30px;
	}

	h2 {
		text-align: center;
		margin-bottom: 10px;

		&:first-of-type {
			font-size: 30px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 3px;

			@media screen and (max-width: $mobile) {
				font-size: 22px;
			}
		}
	}

	ul {
		li {
			width: calc(100% / 4 - 10px);
			float: left;
			padding: 8px;
			margin: 0 5px 30px;
			overflow: hidden;
			
			@media screen and  (min-width:$mobile) {
				height: 395px;
			}
			
			@media screen and (max-width: $mobile) {
				margin: 0 0 30px;
			}

			&:hover {
				@media screen and (min-width:$mobile) {
					article {
						box-shadow: 0 0 8px 4px #d8d8d8;

						.buy {
							span {
								opacity: 1;
							}
						}
					}
				}
			}
			
			article  {
				@media screen and  (min-width:$mobile) {
					height: 365px;
				}

				transition: box-shadow 300ms;
			}
		}
	}

	&.promocoes {
		ul {
			li {
				&:nth-child(7n+0) {
					margin-right: 0px;
				}
			}
		}
	}
}

.li-prateleira {
	.image {
		img {
			width: 100%;
			height: auto;
		}
	}

	.titles {
		height: 70px;
		padding: 0 5px;

		h3 {
			font-size: 13px;
			font-weight: 300;
			text-align: center;

			@media screen and (max-width:$mobile) {
				font-size: 12px;
				line-height: 14px;
			}
		}
	}

	.btn_login {
		text-align: center;
		font-weight: bold;
		font-size: 14px;
		color: #649c9b;
		display: block;
	}

	.price {
		height: 30px;
		text-align: center;
		font-size: 13px;
		font-weight: bold;
		display: none;
	}

	.buy {		
		span {
			transition: all 300ms;
			opacity: 0;
			width: 130px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-radius: 3px;
			display: block;
			margin: 0 auto 0;
			letter-spacing: 2px;
			text-transform: uppercase;
			background-color: $finalizar;
			color: white;

			@media screen and (max-width:$mobile) {
				opacity: 1;
			}
		}
	}
}