.produto {
  main {
    margin-top: 20px;

    .image_prod {
      overflow: hidden;

      .apresentacao {
        #image-main {
          width: 100%;
          height: auto;
        }

        .zoomWindow {
          left: 0 !important;
          z-index: 1 !important;
          ;
        }

        .zoomWrapper {
          width: 540px !important;
          height: 540px;
          background-color: white;

          img {
            width: 1440px;
          }
        }

        #include {
          position: relative;
          overflow: hidden;
          border: 1px solid #fff;
          transition: border 300ms;

          &:hover {
            border: 1px solid #dcdcdc;
          }

          &:after {
            content: '';
            width: 40px;
            height: 40px;
            background-image: url(/arquivos/ico-lupa.png);
            display: inline-block;
            position: absolute;
            right: 0;
            bottom: 0;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 2 !important;
          }
        }

        .thumbs {
          display: flex;
          padding-top: 10px;

          li {
            width: 65px;
            height: 75px;
            border: 1px solid #dcdcdc;
            margin-right: 10px;

            a {
              display: block;
              text-align: center;
              padding-top: 8px;
            }
          }
        }
      }
    }

    .productName {
      font-family: $font-secundaria;
      font-weight: 400;
      font-size: 27px;
      margin-bottom: 30px;
      text-transform: lowercase;

      &::first-letter {
        text-transform: uppercase;
      }

      @media screen and (max-width:$mobile) {
        margin-top: 20px;
      }
    }

    .price_prod {
      font-family: $font-secundaria;
      display: none;

      * {
        font-style: normal;
        font-size: 14px;
      }

      .economia-de,
      .preco-a-vista {
        display: none !important;
      }

      .valor-por {
        font-size: 0px;

        strong {
          font-size: 24px;
        }
      }

      .valor-dividido {
        span {
          display: flex;
          align-items: flex-end;
          font-size: 14px;

          label {
            display: flex;
            margin: 0 2px;
          }
        }
      }
    }

    .select_size {
      .topic {
        margin-top: 20px;

        li {
          &.specification {
            margin-bottom: 5px;

            &:after {
              content: ':';
            }
          }

          &.skuList {
            span {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;

              input {
                display: none;
              }

              label {
                width: 55px;
                height: 55px;
                border-radius: 3px;
                overflow: hidden;
                border: 1px solid #dcdcdc;
                position: relative;
                cursor: pointer;
                margin-right: 8px;
                transition: all 300ms;
                font-size:0;

                &.sku-picked,
                &:hover {
                  border-color: black;
                }

                img {
                  width: 50px;
                  height: 50px;
                  position: absolute;
                  overflow: hidden;
                  top: 50%;
                  left: 50%;
                  -webkit-transform: translate(-50%, -50%);
                  -moz-transform: translate(-50%, -50%);
                  -ms-transform: translate(-50%, -50%);
                  -o-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
                }
              }
            }
          }

          &.select {
            select {
              width: 100%;
              height: 40px;
              border: 1px solid #dcdcdc;
              border-radius: 3px;
              text-indent: 7px;
              font-weight: 400;
              background-image: url(/arquivos/ico-select.png);
              background-repeat: no-repeat;
              background-position: 95%;
              -webkit-appearance: none;
              appearance: none;
            }
          }
        }
      }
    }

    .short_description {
      margin-top: 15px;

      .title {
        font-family: Lato,sans-serif;
        font-weight: 400;
        margin-bottom: 2px;
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: 5px;
        text-transform: uppercase;
      }
    }

    .select_prod {
      margin-top: 30px;

      &.more_items {
        height: 170px;
        overflow: hidden;
        position: relative;

        &:before {
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-image: url(/arquivos/sombra-slider.png?v=2000);
          background-size: 100%;
          background-position: 0 105%;
          background-repeat: no-repeat;
        }

        button {
          display: block;
        }
      }

      &.minus_items {
        button {
          position: static;
          margin: 0 auto;
          display: block;

          &:after {
            transform: rotate(225deg);
            position: relative;
            top: 5px;
          }
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        li {
          width: calc(100% / 4 - 4px);
          height: auto;
          margin: 0 2px 4px;
          font-size: 14px;
          text-align: center;
          border: 1px solid #ececec;
          padding-bottom: 7px;

          a {
            display: block;

            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }

      button {
        display: none;
        width: 120px;
        height: 30px;
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -60px;
        background: initial;
        color: black;
        text-transform: uppercase;

        &:after {
          content: '';
          width: 10px;
          height: 10px;
          border-right: 1px solid black;
          border-bottom: 1px solid black;
          display: block;
          margin: 0 auto;
          transform: rotate(45deg);
        }
      }
    }

    .box_description {
      h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 40px 0 20px 0;
      }

      .productDescription {
        font-size: 14px;
        font-family: $font-secundaria;
        margin-bottom: 120px;
      }
    }

    .select_buy {
      .btn_login {
        display: block;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        margin-top: 25px;
      }

      .buy-in-page-quantity {
        display: none!important;
      }

      .buy-in-page-button {
        font-size: 0!important;

        &:after {
          content: 'Adicionar à sacola';
          font-size: 20px;
        }
      }

      .buy-in-page-button,
      .btn_buy {
        height: 65px;
        line-height: 65px;
        text-align: center;
        font-size: 20px;
        color: white;
        border-radius: 3px;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: $finalizar;
        display: block;
      }
    }

    .notifyme {
      margin-top: 25px;

      h3 {
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      form {
        p {
          font-size: 14px;
          margin-bottom: 10px;
          font-weight: 400;
          display: none;
        }

        input[type="text"] {
          width: 100%;
          height: 35px;
          border-bottom: 1px solid black;
          margin-bottom: 10px;
        }

        #notifymeButtonOK {
          width: 50%;
          height: 35px;
          background-color: black;
          color: white;
          text-transform: uppercase;
          float: right;
          cursor: pointer;
        }
      }
    }
  }
}