html,
body,
div,
span,
object,
iframe,
mark,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
   border: 0 none;
   list-style: none outside none;
   margin: 0;
   outline: 0 none;
   padding: 0;
   vertical-align: baseline;
   text-decoration: none;
   background: none;
}

ul,
ol {
   list-style: none
}

section,
article,
aside,
header,
footer,
nav,
dialog,
figure {
   display: block;
   margin: 0;
}

/*--------------------------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   vertical-align: baseline;
   text-decoration: none;
}

/* remember to define focus styles! */
:focus {
   outline: 0;
}

ol,
ul {
   list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
   border-collapse: separate;
   border-spacing: 0;
}

caption,
th,
td {
   text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: "";
}

blockquote,
q {
   quotes: """";
}

button {
   cursor: pointer;
   background: #ccc;
   border-radius: 0;
   border: 0;
   -webkit-appearance: none;
}

input[type="submit"] {
   cursor: pointer;
   background: #ccc;
   border-radius: 0;
   border: 0;
   -webkit-appearance: none;
}

input {
   padding: 0;
   margin: 0;
   border-radius: 0;
}

input[type="radio"] {
   border-radius: 50%;
}

textarea {
   border-radius: 0;
}