$font-principal: 'Open Sans', sans-serif;
$font-secundaria: 'Lato', sans-serif;

$cor-principal: #00b5d4;
$cor-secundaria: #a3d619;
$cor-texto: #000;
$finalizar: #3e9f73;

$mobile: 940px;
$iphone5: 360px;
$tablet-landscape:768px;
$tablet: 1024px;