.sprite-ico-email {
	position: relative;
	min-width: 24px;
	min-height: 24px;
}
.sprite-ico-email:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -372px -28px;
  width: 24px;
  height: 24px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-lupa {
	position: relative;
	min-width: 23px;
	min-height: 23px;
}
.sprite-ico-lupa:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -396px -28px;
  width: 23px;
  height: 23px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-sanders {
	position: relative;
	min-width: 97px;
	min-height: 29px;
}
.sprite-ico-sanders:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -275px -28px;
  width: 97px;
  height: 29px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-small-arrow {
	position: relative;
	min-width: 9px;
	min-height: 14px;
}
.sprite-ico-small-arrow:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -419px -28px;
  width: 9px;
  height: 14px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-ico-vtex {
	position: relative;
	min-width: 95px;
	min-height: 32px;
}
.sprite-ico-vtex:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -180px -28px;
  width: 95px;
  height: 32px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-logo-encrypts {
	position: relative;
	min-width: 82px;
	min-height: 64px;
}
.sprite-logo-encrypts:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: 0px -86px;
  width: 82px;
  height: 64px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-logo {
	position: relative;
	min-width: 180px;
	min-height: 58px;
}
.sprite-logo:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: 0px -28px;
  width: 180px;
  height: 58px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-small-arrow {
	position: relative;
	min-width: 8px;
	min-height: 4px;
}
.sprite-small-arrow:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: -428px -28px;
  width: 8px;
  height: 4px;
  content: "";
  left: 0;
  top: 0;
}
.sprite-tipbar {
	position: relative;
	min-width: 969px;
	min-height: 28px;
}
.sprite-tipbar:before {
  position: absolute;
  background-image: url(../../arquivos/sprite.png);
  background-position: 0px 0px;
  width: 969px;
  height: 28px;
  content: "";
  left: 0;
  top: 0;
}
